*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*pdfsync
*.bcf
*.brf
*.run.xml
*.lol
main-blx.bib
main-frn.pdf
main-frn.tex
main.pdf
main.pdf.mk
_minted-main
